config.h
**/*.o
results*
figs*
*ifconfig.txt
rundb
runcl
run/slurm.hosts
**/*.out
**/*.pdf
**/out
obj/
**/build
deps/libRDMA/lib/*
deps/libRDMA/ralloc/.libs/*
deps/libRDMA/ralloc/*.a
deps/libRDMA/ralloc/*.la
deps/libRDMA/ralloc/*.so


